<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a routerLink="/">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <a routerLink="/">
      <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
        <li><a routerLink="/">All</a></li>
        <li><a routerLink="/">Clothes</a></li>
        <li><a routerLink="/">Electronics</a></li>
      </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" routerLink="/">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a routerLink="/">All</a></li>
        <li><a routerLink="/">Clothes</a></li>
        <li><a routerLink="/">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">nicolas@nicolas.com</div>
      <div>
        <a routerLink="/">
          <img src="../../assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>