<main>
    <div class="display">{{ display }}</div>
    
    <div class="numeros">
        <app-botones-calc text="7" (buttonClicked)="agregarNumero('7')"></app-botones-calc>
        <app-botones-calc text="8" (buttonClicked)="agregarNumero('8')"></app-botones-calc>
        <app-botones-calc text="9" (buttonClicked)="agregarNumero('9')"></app-botones-calc>
        <app-botones-calc text="/" (buttonClicked)="elegirOperacion('/')"></app-botones-calc>
    </div>
    <div class="numeros">
        <app-botones-calc text="4" (buttonClicked)="agregarNumero('4')"></app-botones-calc>
        <app-botones-calc text="5" (buttonClicked)="agregarNumero('5')"></app-botones-calc>
        <app-botones-calc text="6" (buttonClicked)="agregarNumero('6')"></app-botones-calc>
        <app-botones-calc text="X" (buttonClicked)="elegirOperacion('X')"></app-botones-calc>
    </div>
    <div class="numeros">
        <app-botones-calc text="1" (buttonClicked)="agregarNumero('1')"></app-botones-calc>
        <app-botones-calc text="2" (buttonClicked)="agregarNumero('2')"></app-botones-calc>
        <app-botones-calc text="3" (buttonClicked)="agregarNumero('3')"></app-botones-calc>
        <app-botones-calc text="-" (buttonClicked)="elegirOperacion('-')"></app-botones-calc>
    </div>
    <div class="numeros">
        <app-botones-calc text="C" (buttonClicked)="limpiar()"></app-botones-calc>
        <app-botones-calc text="0" (buttonClicked)="agregarNumero('0')"></app-botones-calc>
        <app-botones-calc text="=" (buttonClicked)="calcular()"></app-botones-calc>
        <app-botones-calc text="+" (buttonClicked)="elegirOperacion('+')"></app-botones-calc>
    </div>
</main>
